.card {
    display: flex;
    width: 100%;
    max-width: 900px;
}

.esquerda {
    max-width: 520px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    font-size: 30px;
}

.texto {
    text-align: justify;
    width: 420px;
    font-size: 25px;
    padding: 0 25px;
}

.btnGerar {
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
    font-size: 15px;
    color: rgba(0, 92, 165, 1);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btnGerar:hover {
    background-color: rgba(0, 92, 165, 1);
    color: white;
    outline: 1px solid white;
}

.direita {
    width: 350px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

@media(max-width: 1430px){
    .titulo{
        font-size: 28px;
    }
    
    .texto {
        text-align: justify;
        width: 80%;
        max-width: 400px;
        font-size: 20px;
    }
    .card{
        display: flex;
        justify-content: center;
    }
    .esquerda {
        width: 80%;
        max-width: 425px;
    }
    
    .direita {
        width: 80%;
        max-width: 425px;
    }
}

@media (max-width: 1132px){
    .direita {
        width: 60%;
        max-width: 400px;
    }

    .esquerda {
        width: 80%;
        max-width: 450px;
    }
}

@media (max-width: 1132px){
    .titulo{
        font-size: 25px;
    }

    .texto{
        font-size: 18px;
    }
}

@media (max-width: 1008px){
    .card{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .esquerda{
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    .direita{
        width:100%;;
    }

    .img{
        display: flex;
        justify-items: center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .esquerda{
        width: 150%;
    }
}
