.Navbar {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    align-items: center;
    padding-bottom: 1.25rem;
    position: relative;
}

button {
    border: none;
    background-color: transparent;
}

.iconFechado{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: none;
    background: url('../../assets/menuFechado.png') center center no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-size: contain;
}

.iconFechado.responsive{
    background-image: url('../../assets/menuAberto.png');
}

.Botoes {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    color: rgba(0, 92, 165, 1);
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    background: none;
    border: none;
}

.btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 92, 165, 1);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.btn:hover::after,
.active::after {
    transform: scaleX(1);
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.Logo{
    max-height: 100px;
    transform: translateX(-8rem);
}

@media (max-width: 1458px){
    #link, .btn {
        padding: 10px;
    }
}

@media (max-width: 1300px){
    #link {
        padding: 0;
        font-size: 18px;
    }
}

@media (max-width: 1161px){
    #link{
        font-size: 16px;
    }
    .Logo{
        transform: translateX(-2.3rem);
    }
}

@media (max-width: 1058px){
    .Botoes {
        gap: 10px;
    }
    .Logo{
        transform: translateX(0);
    }
}

@media (max-width: 1008px){
    .btn{
        display: none;
    }
}

@media (max-width: 1008px){
    .Botoes {
        gap: 0px;
    }

    .iconFechado{
        display: flex;
    }

    .Botoes.responsive {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99px;
        height: 100%;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding-top: 30px;
        border-right: 1px solid rgb(241, 231, 210);
        padding-left: 0;
        justify-content: flex-start;
        width: 80%;
    }

    .Botoes.responsive .btn{
        display: flex;
        padding-block: 20px;
    }

    .Botoes.responsive .Logo{
        padding-block: 20px;
    }

    .btn::after {
        width: 100%;
    }

    .btn::after {
        bottom: 10;
    }
}