body {
  margin: 1.25rem 5rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Roadmap,
.CartaDeMotivacao,
.Vagas {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
}

.Roadmap,
.CartaDeMotivacao,
.Vagas h1{
  color: rgba(0, 92, 165, 1);
}

input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease-in-out;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease-in-out;
}

.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.btnVoltar {
  font-weight: bolder;
  border: 0.5px solid rgba(0, 92, 165, 1);
  border-radius: 5px;
  color: rgba(0, 92, 165, 1);
  padding: 15px 35px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btnVoltar:hover {
  background-color: rgba(0, 92, 165, 1);
  color: white;
  outline: 1px solid white;
}

.btnDownload {
  width: 150px;
  height: 45px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: rgba(0, 92, 165, 1);
  color: white;
  padding: 15px 35px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btnLoading {
  width: 150px;
  height: 45px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: rgba(0, 92, 165, 1);
  color: white;
  padding: 15px 35px;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: wait;
}

.btnDownload:hover {
  background-color: white;
  color: rgba(0, 92, 165, 1);
  outline: 1px solid rgba(0, 92, 165, 1);
}

.loader {
  margin-top: -4px;
  width: 25px;
  height: 25px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}